@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.anuncio {
    height: 10vh;
}
/*  Estilização do Cabeçalho e nav-bar*/
header {
    background-color: rgb(20, 20, 20);
    box-shadow: 0px 3px 10px black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding:  1.5rem 6rem;
}

.logo img{
    display: flex;
    align-items: center;
    width: 5rem;
    height: auto;
}


.logo:hover {
    color: #7f37c9;
    border-radius: 10%;
    padding: 0.02rem;
    margin: 0.1px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.nav-link:hover {
    color: #7f37c9;
    border-radius: 8%;
    padding: 0.02rem;
    margin: 1px 1px 1px 1px;
}

 .mobile-menu-icon {
    display: none;
 }

 .mobile-menu {
    display: none;
 }

 /* Responsividade a partir de -730 pixels*/ 
 @media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }



    .open{
        display: block;
    }
    /*  Fim da estilização do Nav-bar*/

 }



 /*Estilização do Footer ou Rodapé */
footer{
    width: 100%;
    color: white;
}
.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: rgb(36, 35, 35);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
}

#footer_content h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 20;
}

#footer_social_media .footer-link i {
    font-size: 1.5rem;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
    background-color: #1e2ccce6;
}

#whatsappButton {
    background-color: #25d366;
}

#whatsappButton2 {
    background-color: #25d366;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: azure;
}

#input_group {
    display: flex;
    align-items: center;
    background-color:rgba(0, 69, 181, 0);
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 35%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: azure;
    padding: 0px 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
    
}

#input_group i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: white;
}

#footer_copyrigth {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

#footer_contacts img{
    width: 15rem;
    height: auto;
}

@media screen and (max-width: 660px) {
    #footer_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

.cards-header h5 {
    text-align: center;
}

.cards-header p {
    vertical-align: center;
}